@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

.auth_page_container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main_row {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    @include responsive(1024px) {
        flex-wrap: nowrap;
    }
}

.logo_wrapper {
    padding: $spacing-md 0 0 $spacing-md;
    position: absolute;
    align-self: flex-start;
}

.form_container {
    width: 50%;
    padding: $spacing-sm;
    height: fit-content;
}

.item_one {
    width: 100%;
    @include flex-row-center;
    flex-direction: column;
    background-color: $tertiary-color;

    @include responsive(1024px) {
        width: 50%;
    }

    .form_header {
        font-family: $font-family-primary;
        font-weight: bold;
        margin-bottom: $spacing-lg;
    }

    .text_input_wrapper {
        margin: $spacing-sm 0;
    }
}

.main_button {
    width: 100%;
}

.item_two {
    width: 50%;
    display: none;
    position: relative;
    background-color: $primary-color;

    @include responsive(1024px) {
        display: block;
    }

    .blob {
        bottom: 0;
        padding: $spacing-md;
        position: absolute;

        h2 {
            color: $text-color-light;
            font-size: $spacing-md;
            font-weight: bold;
            font-family: $font-family-primary;
        }

        p {
            color: $text-color-light;
            font-size: 12px;
            font-family: $font-family-secondary;
            margin-top: $spacing-sm;
        }
    }
}

.meta_text {
    font-size: 12px;
    margin-top: $spacing-md;
    text-align: center;
    font-family: $font-family-primary;

    a {
        color: $text-color;
        font-weight: bold;
        margin-left: $spacing-sm;

        &:hover {
            color: $primary-color;
        }
    }
}

.signin_bg_image {
    background-image: url('../../../../assests//images/peels.jpg');
    background-size: cover;
}
.signup_bg_image {
    background-image: url('../../../../assests//images/oranges.jpg');
    background-size: cover;
    background-position: center;
}

.password_reset_bg {
    background-image: url('../../../../assests//images/squeeze.jpg');
    background-size: cover;
    background-position: center;
}
