$text-color: #333;
$primary-color: #ff4500;
$tertiary-color: white;
$secondary-color: black;
$text-color-light: gray;
$text-color-lighter: lightgray;
$primary-color-disabled: #ff45007a;
$secondary-color-disabled: #000000bd;

$font-family-primary: 'Raleway', serif;
$font-family-secondary: 'Poppins', sans-serif;

$spacing-ss: 5px;
$spacing-sm: 10px;
$spacing-lg: 40px;
$spacing-md: 20px;
